---
auth_token: "YOUR_API_KEY"
ansible_ssh_extra_args: '-o StrictHostKeyChecking=no -o ServerAliveInterval=30 -o ServerAliveCountMax=10'

ssh_public_key: keys.pub
operating_system: 'Ubuntu 24.04 LTS (20240423)'
contract_id: YOUR_CONTRACT_ID
